* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body
{
    background-color: black;
}
.container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.trending
{
    background: white;
    width: 1500px;
    height: 700px ;
    margin: 30px;
    margin-top: 100px;
    border-radius: 15px; 
}
.card
{
    background: white;
    width: 260px;
    height: 400px ;
    margin: 30px;
    margin-top: 100px;
    border-radius: 15px;
}
.card-image
{
    height: 10px;
    margin-bottom: 15px;
    background-size: cover;
}
.m1
{
    background-image: url("C:\Users\vishw\OneDrive\Desktop\Vishu\Random\W.png");
}
.card h2
{
    text-align: center;
    text-decoration: solid;
    font-family: sans-serif;
    margin: 95px 55px 0px;
}
.card p
{
    text-align: center;
    text-decoration: solid;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px ;  
}
.card a
{
    text-align: center;
    color: white;
    background-color:grey;
    padding: 15px 20px;
    display: block;
    margin: 10px 55px;
    position:absolute;
    border-radius: 15px;
    width: 150px;
}
.card:hover
{
    background-color: grey;
    color: antiquewhite;
    cursor:pointer;
    transform: scale(1.04);
    transition: all 0.9s ease;
}
.trending:hover
{
    background-color: grey;
    color: antiquewhite;
    cursor:pointer;
    transform: scale(1.04);
    transition: all 0.9s ease;
}

