*{
    box-sizing: border-box;
    padding: 12;
    margin: 12;

}
body{
    background-color: grey;

}
.container {
    background-image: url("The-Heroes-Avengers-Logo.jpg");
    width: 1369px;
    height: 690px ;
    margin: 30px;
    margin-top: 22px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: 100%;

}
.Menu-Bar {
    display: flex;
      justify-content: center;
      background-color: #2C3B4F;
    
      text-align: center;
  }
  
  /* Style the links inside the navigation bar */
  .Menu-Bar a {
    float: left;
    justify-items: center;
    padding: 15px;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .Menu-Bar a:hover {
    background-color: #C7CED9;
    color: #222A38;
  }
  
  /* Add a color to the active/current link */
  .Menu-Bar a.active {
    background-color: #04AA6D;
    color: white;
  }
.card{
    text-align: left;
    font-size: medium;
    font-style: italic;
    color: aliceblue;
    height: 250px;
    width: 250px;
    margin: 40px;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 60px;
    margin-right: 22px;
    border-radius: 10px;
    
}
.card-container{
    display: flex;

}
.title{
    text-align: center;
    background-color: crimson;
    font-style: bold;
    font-size: x-large;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    color: black;
    font-style: bold;
}
.container-title {
    height: 5%;
    width: 100%;
    background-color: purple;
    text-align: center;
    color: black;
    font-style: bold;
    font-size:xx-large;
    border-radius: 8px;
    margin: 0%;

}
footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -10px;
    width: 100%;
}
